{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="form">
        <h2>Selecione o Periodo</h2>
        <form method="POST">
            <label for="inicio">Inicio:</label>
            <input type="month" id="start" name="inicio" min="1980-01" max="2021-07">
            <br>
            <label for="end">Fim:</label>
            <input type="month" id="end" name="end" min="1980-01" max="2021-07">
            <br>
        </form>
    </div>
    <div class="table-wrapper">
        <table id="indices">
            <tr>
                <th>Mes/Ano</th>
                <th>Valor</th>
            </tr>
            <tbody id="tbody"></tbody>
        </table>
    </div>
    <div id="div_but">

    </div>
    <a href="{% url 'list' %}">LISTA</a>

    <script type="module" src="{% url 'home_js' %}">
    </script>
</body>

</html>